build*/
doxy/html/
doxy/latex/
doxy-api/
third-party/
coverage/
catch.xml
.idea/
benchmark/job/data
benchmark/result-db-eval/synthetic/data
paper_benchmarks/
postgres/

# Git version information
include/mutable/gitversion.tbl

# cmake export macros
include/mutable/mutable-config.hpp
