#-----------------------------------------------------------------------------------------------------------------------
# GENERAL
#-----------------------------------------------------------------------------------------------------------------------

# Define the stages of the pipeline.
stages:
    - check
    - build
    - test
    - report


#-----------------------------------------------------------------------------------------------------------------------
# CHECK
#-----------------------------------------------------------------------------------------------------------------------

check:syntax:
    stage: check
    script:
        - echo ${CI_COMMIT_BEFORE_SHA} ${CI_COMMIT_SHA} ${CI_COMMIT_REF_NAME} | hooks/pre-receive


#-----------------------------------------------------------------------------------------------------------------------
# BUILD
#-----------------------------------------------------------------------------------------------------------------------

build:linux-amd64:
    stage: build
    tags:
        - linux
        - amd64
    script:
        - mkdir -p build/debug
        - cd build/debug
        - CC=clang CXX=clang++ cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug ../..
        - ninja
    artifacts:
        paths:
            - "build/debug/bin/"
        expire_in: 1 day


#-----------------------------------------------------------------------------------------------------------------------
# TEST
#-----------------------------------------------------------------------------------------------------------------------

unittest:linux-amd64:
    stage: test
    tags:
        - linux
        - amd64
    needs:
        - job: "build:linux-amd64"
          artifacts: true
    script: build/debug/bin/unittest \[core\]

integrationtest:linux-amd64:
    stage: test
    tags:
        - linux
        - amd64
    needs:
        - job: "build:linux-amd64"
          artifacts: true
    script:
        - pip3 install --user --upgrade colorama pyyaml yamale tqdm
        - python3 test/IntegrationTest.py -v


#-----------------------------------------------------------------------------------------------------------------------
# REPORT
#-----------------------------------------------------------------------------------------------------------------------

report:doxygen:
    stage: report
    tags:
        - nginx
    script:
        - doxygen Doxyfile
        - rm -rf /usr/share/nginx/html/mutable/doxy
        - mkdir -p /usr/share/nginx/html/mutable/doxy
        - mv doxy/html/* /usr/share/nginx/html/mutable/doxy
    only:
        - master
