[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
cycler = "*"
GitPython = "*"
graphviz = "*"
hyperconf = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
psycopg2 = "*"
Python-EasyGraph = "*"
pyyaml = "*"
scipy = "*"
screeninfo = "*"
seaborn = "*"
sortedcontainers = "*"
sqlobject = "*"
tableauhyperapi = "*"
termcolor = "*"
tqdm = "*"
typeguard = "*"
typing_extensions = "*"
Wand = "*"
yamale = "*"

[requires]
python_version = "3.10"

[dev-packages]
mypy = "*"
pytest = "*"
