[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
colorama = "*"
easygraph = "*"
formencode = "*"
gitdb = "*"
gitpython = "*"
numpy = "*"
pandas = "*"
pip = "*"
psycopg2 = "*"
pycparser = "*"
pydispatcher = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
setuptools = "*"
six = "*"
smmap = "*"
sqlobject = "*"
tableauhyperapi = "*"
tqdm = "*"
tzdata = "*"
wheel = "*"
yamale = "*"
python-easygraph = "*"
graphviz = "*"
pygraphviz = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
scipy = "*"
jupyter = "*"
nbclassic = "*"
seaborn = "*"
wand = "*"
screeninfo = "*"
cycler = "*"

[requires]
python_version = "3.10"
